.breadcrumbs{
    position: absolute;
    left: 20px;
    top: 100px;
    font-family:KangXiZiDianTi;
    color: #aaa;
    a{
        color: #aaa;
    }
    .fontcolor{
        color: #c69c6d;
    }
}