.footerimg{
    background-image: url(../../assets/images/footer.png);
    background-position: left bottom;
    background-repeat: no-repeat;
}
.footertop{
    text-align: center;
    .footericon{
        margin: 10px 0;
        font-family: Microsoft JhengHei;
    }
    .footericon i{
        margin-right: 5px;
    }
}
.footerbottom{
    text-align: center;
}
.footer_icon{
    margin: 15px 0;
    a{
        color: #ffffff;
        margin: 0 10px;
    }
    i{  
        width: 25px;
        padding: 5px 0;
        background-color: #000000;
        border-radius: 50%;
    }
}
@media screen and (min-width: 768px){
    .footertop{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .footericon i{
            margin-right: 5px;
        }
    }

}