.fontcolor{
    color: #C69C6D;
}
.title_center{
    text-align: center;
}
h1,h2,h3{
    font-family: KangXiZiDianTi;
}
h2{
    font-size: 30px;
    padding: 20px 0;
}
.teaDetail{
    padding: 0 20px;
    box-sizing: border-box;
}
.product_intro{
    margin-top: 150px;
}
.tea_img{
    text-align: center;
    img{
        width: 90%;
        vertical-align: bottom;
    }
}
.tea_contnet{
    h1{
        font-size: 40px;
        padding-bottom: 30px;
    }
    i{
        padding-left: 5px;
        padding-bottom: 10px;
        color: #f0ca37;
        font-size: 16px;
    }
    h3{
        font-size: 20px;
        padding: 20px 0;
    }
    li{
        margin-top: 10px;
        font-size: 16px;
        font-family: Microsoft JhengHei;
        font-weight: bold;
    }
}
.tea_cart{
    margin: 50px 0;
    padding: 0 20px;
    box-sizing: border-box;
}
.tea_box{
    .tea_cart_img{
        text-align: center;
        img{
            width: 60%;
            vertical-align: bottom;
        }
    }
    .tea_cart_item{
        text-align: center;
        h3{
            font-size: 24px;
            padding: 10px 0;
        }
        .cart_item_option{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 10px 0;
        }
        .cart_item_select {
            text-align: center;
            width: 70px;
            padding-left: 20px;
            margin-right: 20px;
        }
        .cart_btn{
            width: 100px;
            line-height: 30px;
            color: #fff;
            background-color: #1E3D19;
            text-align: center;
            border-radius: 10px;
            font-family: KangXiZiDianTi;
            cursor: pointer;
        }
    }
}
.about_tea{
    h3{
        padding: 20px 0;
        font-size: 26px;
    }
    p{
        padding-bottom: 20px;
        font-family: Microsoft JhengHei;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
    }
    ol {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 20px;
        font-family: Microsoft JhengHei;
        font-weight: bold;
    }
}
@media screen and (min-width: 768px){
    .product_intro{
        display: flex;
        flex-direction: row;
        align-items: center;
        .tea_img{
            width: 50%;
        }
    }
    .tea_cart{
        display: flex;
        flex-direction: row;
        align-items: center;
        .tea_box{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            .tea_cart_img{
                img{
                    width: 80%;
                }
            }
        }
    }
    .about_tea_content{
        display: flex;
        flex-direction: row;
        // align-items: center;
        align-items: flex-start;
        justify-content: space-around;
        .about_tea{
            width: 50%;
            &:nth-of-type(2){
                padding-left: 110px;
            }
        }
    }
}



.product_item{
    .product_item_tea{
        margin-top: 20px;
        margin-bottom: 100px;
        padding: 0 20px;
        text-align: center;
        font-family: KangXiZiDianTi;
        a{
            color: #000;
        }
        h3{
            font-size: 20px;
            padding: 20px 0;
        }
        p {
            line-height: 26px;
        }
        img{
            width: 100%;
            vertical-align: bottom;
        }
    }
}

@media screen and (min-width: 768px){
    .product_item{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .product_item_tea{
        width: 280px;
    }
}
@media screen and (min-width: 1200px){
    .product_item_tea{
        width: 250px;
    }
    .product_item_tea{
        position: relative;
        a{
            display: block;
            position: relative;
            z-index: 5;
        }
        &:hover a{
            color: #C69C6D;
        }
        &:before{
            content: '';
            width: 0;
            height: 0;
            top: -10px;
            left: 0;
            position: absolute;
            transition: width .5s,height .5s;
        }
        &:hover:before{
            width: 100%;
            height: 103%;
            border-top: 3px solid #aaa;
            border-left: 3px solid #aaa;
            border-radius: 10px;
        }
        &:after{
            content: '';
            width: 0;
            height: 0;
            bottom: -5px;
            right: -3px;
            position: absolute;
            transition: width .5s,height .5s;
        }
        &:hover::after{
            width: 100%;
            height: 103%;
            border-bottom: 3px solid #aaa;
            border-right: 3px solid #aaa;
            border-radius: 10px;
        }
    }
}