.aboutus_bg{
	background-image: url(../assets/images/about/about_bg.jpg);
	background-position: bottom;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 50vh;
	z-index: -2;
    box-sizing: border-box;
    .slogan_content{
        text-align: center;
        padding-top: 140px;
        h2{
            font-family:KangXiZiDianTi;
            padding:20px 0;
            font-size: 26px;
            color: #fff;
        }
    }
}
.aboutus_intro{
    position: relative;
    .about_bg_right{
        position: absolute;
        right: 0;
        top: 50px;
        z-index: -5;
    }
}
.aboutus_intro_img{
    display: none;
}
.aboutus_intro_content{
	width: 100%;
	padding: 10px;
    box-sizing: border-box;
    h3{
        font-family:KangXiZiDianTi;
        font-size: 30px;
        padding: 10px 0;
    }
    p{
        font-family: Microsoft JhengHei;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 2px;
        margin: 10px 0;
    }
}
.aboutus_orgin{
    position: relative;
    .about_bg_left{
        width: 70%;
        position: absolute;
        bottom: 0;
        z-index: -5;
    }
}
:global(.aboutus_orgin_1),:global(.aboutus_orgin_2){
    position: relative;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    img{
        width: 100%;
        vertical-align: bottom;
    }
    .aboutus_intro_content{
        border: 2px solid #aaa;
        background-color: rgba(255,255,255,.7);
        padding: 20px;
        box-sizing: border-box;
    }
}
.aboutus_tea_intro_box{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}
:global(.aboutus_tea_intro_content){
    margin: 20px 0;
    box-shadow: 3px 3px 10px rgba(0,0,0,.3), -3px -3px 10px rgba(0,0,0,.3);
    a{
        color: #000000;
    }
    img{
        width: 100%;
        vertical-align: bottom;
    }
    .aboutus_tea_intro_content_font{
        padding: 20px;
        box-sizing: border-box;
        h4{
            font-family: KangXiZiDianTi;
            font-size: 30px;
        }
        h5 {
            font-family: KangXiZiDianTi;
            font-size: 20px;
            padding: 10px 0;
        }
        p {
            font-family: Microsoft JhengHei;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 2px;
            padding: 5px 0;
        }

    }
}
@media screen and (min-width:768px){
    :global(.aboutus_intro_flex){
        display: flex;
        align-items: center;
    }
    .aboutus_intro_img{
        display: block;
        padding: 30px;
        box-sizing: border-box;
        img{
            width: 100%;
            border-radius: 50%;
            vertical-align: bottom;
        }
    }
    .aboutus_intro_content{
        width: 90%;
        padding: 30px;
        h3{
            font-size: 36px;
        }
        p{
            font-size: 22px;
        }
    }
    :global(.aboutus_orgin_1),:global(.aboutus_orgin_2){
        .aboutus_intro_content{
            width: 50%;
            h3{
                font-size: 30px;
            }
            p{
                font-size: 16px;
            }
        }
        .aboutus_orgin_1_img{
            width: 60%;
            margin: auto;
            z-index: -1;
        }
        img{
            width: 100%;
            margin: 70px 0;
        }
        .aboutus_intro_content{
            width: 50%;
            position: absolute;
            top: 0;
        }
    }
    :global(.aboutus_orgin_1){
        .aboutus_intro_content{
            left: 0;
        }
    }
    :global(.aboutus_orgin_2){
        .aboutus_intro_content{
            right: 0;
        }
    }
    .aboutus_tea_intro_box{
        flex-direction: row;
        :global(.aboutus_tea_intro_content){
            margin: 20px;
        }
    }
}

@media screen and (min-width:1200px){
    .aboutus_bg{
        height: 80vh;
        .slogan_content{
            text-align: center;
            padding-top: 180px;
            h2{
                font-size: 42px;
                text-shadow: 1px 1px 1px rgba(200,200,200,.9);
            }
        }
    }
    .aboutus_intro_content{
        width: 50%;
    }
    :global(.aboutus_orgin_1),:global(.aboutus_orgin_2){
        .aboutus_intro_content{
            width: 40%;
            padding: 30px;
            h3{
                font-size: 36px;
            }
            p{
                font-size: 22px;
            }
        }
    }

}