.contactpage{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
    img{
        min-width: 100%;
        vertical-align: bottom;
    }
}
.contact_content{
    max-width: 500px;
    color: #fff;
    font-family: Microsoft JhengHei;
    margin: auto;
    margin-top: 200px;
    padding: 0 20px;
    box-sizing: border-box;
    .form_bgcolor{
        padding: 20px;
        box-sizing: border-box;
        background-color: rgba(0,0,0,0.3);
        border-radius: 20px;
        text-align: center;
    }
    h2{
        font-size: 26px;
        margin-bottom: 20px;
    }
    h4{
        text-align: left;
        font-size: 20px;
        margin-bottom: 20px;
    }
    form{
        div{
            margin-bottom: 20px;
        }
        input,textarea,select{
            width: 80%;
            height: 25px;
        }
        textarea{
            height: 60px;
        }
    }
    .submitbtn{
        width: 150px;
        height: 30px;
        font-size: 20px;
        color: #fff;
        background-color: #000;
        border: 0;
        border-radius: 3px;
        font-family: Microsoft JhengHei;
        font-weight: bold;
        cursor: pointer;
    }
}