.homepage{
    h2{
        padding: 0;
    }
}
.index_banner_font{
    display: none;
}
.index_banner_img{
    width: 100%;
    padding-bottom: 70%;
    overflow: hidden;
    position: relative;
    z-index: -2;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 65%;
        background-color: rgba(0,0,0,.2);
    }
    img{
        position: absolute;
        width: 100%;
        vertical-align: bottom;
    }
}

.index_video{
	position: relative;
	text-align: center;
    // overflow: hidden;
    margin-top: 20px;
    margin-bottom: 40px;
    video{
        width: 90%;
    }
}
// .pagecontent {
//     width: 100%;
//     max-width: 1200px;
//     margin: auto;
// }
.homepage_title{
	text-align: left;
    font-family:KangXiZiDianTi;
    h2{
        padding-left: 10px;
        font-size: 30px;
        line-height: 55px;
        color: #4B575E;
    }
    h3{
        padding-left:50px;
        padding-bottom:20px;
        font-size: 20px;
        color: #4B575E;
        opacity: 0.6;
    }
    
    :global(.testtest){
        color:red;
    }
}
.index_product_flex{
    display: flex;
    flex-direction: column;
}
:global(.index_product_tea){
    width: 90%;
    margin: 20px auto;
    position: relative;
}
.tea_box_top,.tea_box_bottom{
    text-align: center;
    font-family:KangXiZiDianTi;
    .tea_green{
        width: 58%;
    }
    img{
        width: 60%;
        vertical-align: bottom;
    }
    h3{
        margin: 10px 0;
        font-size: 26px;
        color: #000000;
    }
}
.tea_box_top:hover{
    opacity: 0;
    transition: opacity .5s;
}
.tea_box_bottom{
    position: absolute;
    bottom:0;
    z-index: -2;
    h3{
        color: #c69c6d;
    }
}
.index_news_box{
    margin-top: 20px;
}
:global{.index_news_bignews,.index_news_bignews_winter{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #000000;
    &:hover{
        color: #c69c6d;
    }
}}
.index_news_content1{
    padding: 0 35px;
    h3{
        font-family:KangXiZiDianTi;
        text-align: center;
        padding: 10px 0;
        font-size: 26px;
    }
    p{ 
        font-family: Microsoft JhengHei;
        line-height: 30px;
        padding: 10px 0;
    }
    .news_time{
        text-align: right;
    }
}
.index_news_box2{
    :global{.index_news_bignews{
        margin: 20px 0;
    }}
}
:global(.index_about_img){
    text-align: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;
    .about_img_computer{
        display: none;
    }
    .about_img_mobile{
        width: 90%;
        vertical-align: bottom;
        opacity: .8;
    }
    .index_about_font{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #ffffff;
        font-family:KangXiZiDianTi;
        text-shadow: 2px 2px 1px #000;
        h2{
            font-size: 26px;
            padding: 10px 0;
        }
        h3{
            font-size: 20px
        }
        p{
            font-size: 16px;
        }
    }
}
@media screen and (min-width: 768px){
    .index_product_flex{
        flex-direction: row;
        align-items: flex-end;
    }
    :global(.index_product_tea){
        width: 33.333333%;
    }
    .news_box_item{
        display: flex;
    }
    .index_news_box2{
        display: flex;
        :global{.index_news_bignews{
            width: 50%;
        }}
    }
}
@media screen and (min-width: 1200px){
    .index_banner{
        position: relative;
    }
    .index_banner_font{
        display: block;
        position: absolute;
        z-index: -1;
        // font-family: Berlin Sans FB Demi;
        // font-weight: 100;
        bottom: 0;
        left: 30px;
        color: #C69C6D;
        line-height: 50px;
        letter-spacing: 16px;
        text-shadow: 1px 1px 1px #C69C6D;
        .bigfont{
            font-size: 50px;
        }
        .smallfont{
            font-size: 20px;
        }
    }
    .index_banner_img{
        padding-bottom: 40%;
        img{
            top: -200px;
            vertical-align: bottom;
        }
    }
    .index_video {
        padding: 50px 0;
        margin: 0;
        video{
            width: 70%;
        }
    }
    .homepage_title{
        position: relative;
        h2{
            position: absolute;
            width: 50px;
            font-size: 50px;
        }
        h3{
            position: absolute;
            width: 30px;
            font-size: 30px;
            top: 40px;
            left: 30px;
        
        }
        .titleline {
            height: 120px;
            border-left: 3px solid #4B575E;
            position: absolute;
            top: 115px;
            left: 80px;
        }
    }
    .index_Video_bg{
        position: absolute;
        top: -200px;
        right: 0;
        background-image: url(../assets/images/homepage_vider_bg.png);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        width: 60%;
        padding-bottom: 50%;
        height: 0;
        z-index: -10;
    }
    .index_News{
        position:relative;
    }
    .index_left_bg{
        position: absolute;
        top: 50px;
        left: 0;
        background-image: url(../assets/images/homepage_left_bg.png);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        width: 60%;
        padding-bottom: 50%;
        height: 0;
        z-index: -10;
    }
    .news_box_item{
        flex-direction: column;
        padding-top: 75px;
    }
    :global{.index_news_bignews,.index_news_bignews_winter{
        flex-direction: row;
        width: 800px;
        margin: auto;
        padding: 20px;
        &:before{
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: -4px;
            left: -5px;
            transition: width .5s,height .5s;
        }
        &:hover:before{
            width: 101%;
            height: 102%;
            border-top: 2px solid #aaa;
            border-left: 2px solid #aaa;
            border-radius: 10px;
        }
        &:after{
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            right: -5px;
            bottom: -5px;
            transition: width .5s,height .5s;
        }
        &:hover:after{
            width: 101%;
            height: 102%;
            border-right: 2px solid #aaa;
            border-bottom: 2px solid #aaa;
            border-radius: 10px;
        }
    }}
    :global{.index_news_bignews_winter{
        flex-direction: row-reverse;
    }}
    .index_news_box2{
        width: 800px;
        margin: auto;
        :global{.index_news_bignews{
            flex-direction: column;
        }}
    }
    .index_about{
        margin-top: 50px;
        margin-bottom: 100px;
    }
    :global(.index_about_img){
        .about_img_computer{
            display: block;
            width: 70%;
            margin: auto;
        }
        .about_img_mobile{
            display: none;
        }
        .index_about_font{
            h2{
                font-size: 50px;
            }
            h3{
                font-size: 36px
            }
            p{
                font-size: 24px;
            }
            &:hover{
                color: #c69c6d;
            }
        }
    }
}